footer.footer
    .footer__wrapper
        ul.footer__group.footer__menu
            li.footer__item
                button(class="footer__link js-modal-trigger" data-trigger="confidentiality") конфиденциальность
            li.footer__item
                button(class="footer__link js-modal-trigger" data-trigger="security") безопасность
            li.footer__item
                button(class="footer__link js-modal-trigger" data-trigger="system") системные требования
        .footer__group
             div.copyright &#169; Облачная логистика, 2016—2021