.modal(data-target="auth" style="display:none")
    .modal__window.js-modal-window(style="background-image: url(\"../../assets/img/photos/light-modal-clouds.png\")")
        button.modal__close(data-close="auth" title="Закрыть")
            .modal__close-inner
        .modal__header
            h3.modal__title Личный кабинет
        .modal__content
            form#form-auth.user-form.modal__form(action="#", method="POST", data-url="auth")
                .user-form__section
                    input.user-form__input(type="text" placeholder="Логин" name="username")
                .user-form__section
                    input.user-form__input(type="password" placeholder="Пароль" name="user_password")
                .user-form__section
                    input.user-form__submit(type="submit" value="Войти")
.modal(data-target="registration" style="display: none")
    .modal__window.js-modal-window(style="background-image: url(\"../../assets/img/photos/light-modal-clouds.png\")")
        button.modal__close(data-close="registration" title="Закрыть")
            .modal__close-inner
        .modal__header
            h3.modal__title Регистрация
        .modal__content
            form#form-register.user-form.modal__form(action="#" method="POST" data-url="register")
                .user-form__section
                    input.user-form__input(type="tel" placeholder="Ваш телефон" name="phoneNumber")
                .user-form__section
                    input.user-form__submit(type="submit" value="Зарегистрироваться")
.modal(data-target="callback" style="display:none")
    .modal__window.js-modal-window(style="background-image: url(\"../../assets/img/photos/light-modal-clouds.png\")")
        button.modal__close(data-close="callback" title="Закрыть")
            .modal__close-inner
        .modal__header
            h3.modal__title Заказать звонок
        .modal__content
            form#form-callback.user-form.modal__form(action="#", method="POST", data-url="callback")
                .user-form__section
                    input.user-form__input(type="text" placeholder="Ваше имя" name="firstName")
                .user-form__section
                    input.user-form__input(type="tel" placeholder="Телефон" name="phone_number")
                .user-form__section
                    input.user-form__submit(type="submit" value="Войти")
.modal(data-target="confidentiality" style="display:none")
    .modal__window.modal__window--lg.js-modal-window(style="background-image: url(\"../../assets/img/photos/light-modal-clouds.png\")")
        button.modal__close(data-close="confidentiality" title="Закрыть")
            .modal__close-inner
        .modal__header
            h3.modal__title Положение о конфиденциальной информации
        .modal__content
            .modal__content-block
                h4.modal__sub-title 1. Общие положения
                p 1.1. Настоящее Положение регулирует отношения, связанные с охраной и использованием конфиденциальной информации при совершении действий, направленных на осуществление перевозки грузов автомобильным транспортом.
                p 1.2. Настоящее Положение подлежит применению всеми сотрудниками юридических лиц и индивидуальными предпринимателями, зарегистрированными в электронной системе «Облачная логистика», а также иными лицами, которые принимают участие в осуществлении перевозки грузов с использованием электронной системы «Облачная логистика».
                p 1.3. Целью охраны конфиденциальной информации является обеспечение экономической и правовой безопасности всех Пользователей электронной системы «Облачная логистика».
                p 1.4. Настоящее Положение разработано на основе следующих нормативно-правовых актов Российской Федерации:
                ul.modal__list
                    li Гражданский кодекс Российской Федерации;
                    li Федеральный закон от 29.06.2004 № 98-ФЗ «О коммерческой тайне»;
                    li Федеральный закон от 06.04.2011 № 63-ФЗ «Об электронной подписи».
            .modal__content-block
                h4.modal__sub-title 2. Термины и сокращения
                p Аффилированное лицо – юридическое или физическое лицо, которое на момент предоставления ему Конфиденциальной информации прямо или косвенно контролируется одной из сторон (Получающей или Раскрывающей) или является ее партнером на основании договора, подписанного на момент регистрации данной стороны в ОЛ.
                p Конфиденциальная информация - информация, предоставляемая в любой форме (включая, помимо прочего, в письменной и устной форме) Раскрывающей стороной Получающей стороне по настоящему Положению, при условии, что:
                ol
                    li указанная информация на момент предоставления определена как «конфиденциальная» («Коммерческая тайна», «КТ», «Конфиденциально») либо;
                    li информация отнесена к Конфиденциальной в соответствии с разделом 3 настоящего Положения;
                    li по характеру информации очевидно, что она является конфиденциальной.
                p В состав Конфиденциальной информации включается в том числе:
                ul.modal__list
                    li информация, составляющая коммерческую тайну, - сведения любого характера, которые имеют действительную или потенциальную коммерческую ценность в силу неизвестности их третьим лицам, к которым у третьих лиц нет свободного доступа на законном основании и в отношении которых обладателем таких сведений введен режим коммерческой тайны;
                    li персональные данные физических лиц – информация, позволяющая идентифицировать личность физического лица.
                p «Облачная логистика» («ОЛ») – электронная система, созданная для организации перевозки грузов автомобильным транспортом, размещенная на Сайте.
                p Получающая сторона - сторона, получающая Конфиденциальную информацию от другой стороны.
                p Пользователь ОЛ – лицо, имеющее доступ в ОЛ.
                p Раскрывающая сторона - сторона, предоставляющая Конфиденциальную информацию другой стороне.
                p «Сайт» - сайт в информационно-телекоммуникационной сети Интернет по адресу http://logist.cloud.
            .modal__content-block
                h4.modal__sub-title 3. Порядок отнесения информации к конфиденциальной
                p 3.1. К конфиденциальной информации следует относить:
                p 3.1.1. Сведения о технологиях и принципах работы ОЛ.
                p 3.1.2. Условия договоров и дополнительных соглашений, заключенных между Пользователями ОЛ.
                p 3.1.3. Сведения о грузоперевозках, совершаемых с помощью ОЛ, в том числе стоимость доставки грузов.
                p 3.1.4. Сведения, содержащиеся в документах, подписываемых в ОЛ электронной подписью.
                p 3.1.5. Сведения о физическом лице, позволяющие идентифицировать его личность.
                p 3.1.6. Сведения, составляющие охраняемую законодательством Российской Федерации тайну.
                p 3.1.7. Сведения, составляющие техническую, технологическую, коммерческую, организационную или иную используемую в предпринимательской деятельности информацию:
                ul.modal__list
                    li которая обладает действительной или потенциальной коммерческой ценностью в силу неизвестности ее третьим лицам,
                    li к которой нет свободного доступа на законном основании,
                    li по отношению к которой владелец информации принимает адекватные ее ценности правовые, организационные, технические и иные меры защиты.
                p Информация имеет действительную или потенциальную коммерческую ценность, если она позволяет или может позволить обладателю коммерческой тайны при существующих или возможных обстоятельствах в силу неизвестности ее третьим лицам:
                ul.modal__list
                    li увеличить доходы,
                    li избежать убытков,
                    li сохранить положение на рынке или получить иную коммерческую выгоду.
                p 3.2. Не может быть отнесена к категории конфиденциальной информация:
                ul.modal__list
                    li содержащаяся в Едином государственном реестре юридических лиц;
                    li содержащаяся в свидетельстве о регистрации гражданина в качестве индивидуального предпринимателя или в ином документе, его заменяющем в соответствии с законодательством Российской Федерации, лицензиях и иных документах на право занятия отдельными видами деятельности;
                    li сведения об участии должностных лиц Пользователей в других организациях, занимающихся предпринимательской деятельностью;
                    li о перечне лиц, имеющих право без доверенности выступать от имени юридического лица (совершать сделки);
                    li обязательность раскрытия которой или недопустимость ограничения доступа к которой установлены нормативно-правовыми актами Российской Федерации;
                    li на законных основаниях в любое время получена Получающей стороной от третьих лиц без ограничений в отношении ее разглашения или использования;
                    li другая информация в соответствии с законодательством Российской Федерации.

            .modal__content-block
                h4.modal__sub-title 4. Неразглашение конфиденциальной информации
                p 4.1. В течение периода регистрации в ОЛ, а также в течение 3 (трех) лет с момента прекращения всех договорных отношений с Пользователями ОЛ Получающая сторона обязуется не разглашать третьим лицам Конфиденциальную информацию, полученную от Раскрывающей стороны.
                p 4.2. В дополнение к обязательству не разглашать Конфиденциальную информацию третьим лицам, Получающая сторона в течение срока, указанного в п.4.1. настоящего Положения несет ответственность за утрату, хищение и иное непреднамеренное раскрытие Конфиденциальной информации, а также несанкционированное раскрытие Конфиденциальной информации лицами (включая, помимо прочего, действительных и бывших сотрудников), которым Получающая сторона вправе предоставить Конфиденциальную информацию, полученную от Раскрывающей стороны.
                p Получающая сторона не несет ответственности за указанное непреднамеренное и несанкционированное разглашение информации, если она соблюдала такую же степень осторожности при хранении указанной Конфиденциальной информации, как и при хранении собственной конфиденциальной информации аналогичной важности. Однако при любых обстоятельствах Получающая сторона должна соблюдать как минимум разумную степень осторожности и, получив сведения об указанном непреднамеренном или несанкционированном разглашении информации, уведомить об этом Раскрывающую сторону и принять разумные меры для уменьшения последствий такого разглашения и предотвращения разглашения информации в дальнейшем.
                p 4.3. Пользователи обязуются без предварительного письменного согласия друг друга не разглашать третьим лицам факт ведения Пользователями любых переговоров, связанных с их договорными отношениями. Пользователи признают, что настоящее Положение применяются ко всему содержанию указанных переговоров
            .modal__content-block
                h4.modal__sub-title 5. Использование Конфиденциальной информации
                p 5.1. Получающая сторона вправе использовать Конфиденциальную информацию в течение срока действия договорных отношений с Раскрывающей стороной исключительно для целей осуществления перевозки грузов с использованием ОЛ.
                p 5.2. Получающая сторона обязана принять все установленные действующим законодательством меры по охране конфиденциальности информации.
            .modal__content-block
                h4.modal__sub-title 6. Разрешенное раскрытие Конфиденциальной информации
                p 6.1. Получающая сторона вправе предоставлять Конфиденциальную информацию своим Аффилированным лицам с целью осуществления ими деятельности, направленной на перевозку грузов с помощью ОЛ. Получающая сторона настоящим гарантирует, что соблюдение условий настоящего Положения является обязательным для Аффилированных лиц, получающих Конфиденциальную информацию.
                p 6.2. Получающая сторона обязуется ограничить распространение Конфиденциальной информации, получаемой от Раскрывающей стороны, и предоставить ее только тем сотрудникам и Аффилированным лицам, которым эта информация необходима, предварительно взяв с них письменное обязательство о неразглашении Конфиденциальной информации.
                p 6.3. Получающая сторона может предоставлять Конфиденциальную информацию, полученную от Раскрывающей стороны, третьим лицам, кроме Аффилированных лиц, только на основании предварительного письменного согласия Раскрывающей стороны. В случае получения такого согласия от Раскрывающей стороны Получающая сторона гарантирует, что соблюдение условий настоящего Положения является обязательным для третьих лиц.
                p 6.4. В случае передачи Конфиденциальной информации Получающей стороной в органы государственной власти, иные государственные органы, органы местного самоуправления по их законному требованию Получающая сторона обязуется ограничить эту передачу требуемым минимумом и незамедлительно уведомить Раскрывающую сторону о сути этой передачи в той максимальной степени, в какой это может быть допустимо при данных обстоятельствах.
            .modal__content-block
                h4.modal__sub-title 7. Ответственность за разглашение Конфиденциальной информации
                p 7.1. Получающая сторона несет ответственность, как за свои собственные действия, так и за любое несанкционированное использование или разглашение Конфиденциальной информации своими сотрудниками, должностными и иными лицами, которые имеют доступ к этой Конфиденциальной информации, в том числе, когда такое использование или разглашение было осуществлено в течение 3 (трех) лет после прекращения отношений с Раскрывающей стороной.
                p В случае разглашения Конфиденциальной информации Получающая сторона должна возместить Раскрывающей стороне все понесенные последней в связи с этим убытки и уплатить штраф в размере 1 000 000 (один миллион) рублей 00 копеек за каждый факт нарушения (разглашения).
            .modal__content-block
                h4.modal__sub-title 8. Срок действия настоящего Положения
                p 8.1. Настоящее Положение подлежит применению Пользователями с момента регистрации их в ОЛ и действует в течение всего периода регистрации в ОЛ, а также в течение 3 (трех) лет с момента прекращения всех договорных отношений с Пользователями ОЛ.

.modal(data-target="security" style="display:none")
    .modal__window.modal__window--lg.js-modal-window(style="background-image: url(\"../../assets/img/photos/light-modal-clouds.png\")")
        button.modal__close(data-close="security" title="Закрыть")
            .modal__close-inner
        .modal__header
            h4.modal__title Безопасность системы
        .modal__content
            .modal__content-block
                p Общество с ограниченной ответственностью «Облачная логистика» полностью обеспечивает безопасность сайта и системы Облачная логистика, расположенную в сети Интернет по адресу&nbsp;
                    a(href="https://logist.cloud/." title="logist.cloud") https://logist.cloud/.
                p При создании и доработке системы регулярно проводится работа по анализу возможных угроз, на основе которых сформированы требования по защите информации при использовании системы. В системе безопасности системы используется обширный набор механизмов безопасности: межсетевые экраны, средства анализа содержимого, средства предотвращения вторжений, антивирусные средства, средства мониторинга и контроля защищенности.
                p В целях обеспечения конфиденциальности, целостности и доступности системы, электронная система Облачная логистика (ОЛ)&nbsp;
                    a(href="https://logist.cloud/." title="logist.cloud") https://logist.cloud/&nbsp;
                    | оснащена эшелонированной системой безопасности.
                p Одним из ее элементов является система разграничения доступа, которая проводит, в частности, аутентификацию пользователей, а также обеспечивает конфиденциальность их участия в торгах ОЛ, где такая конфиденциальность установлена требованиями ФЗ и нормативными документами.
            .modal__content-block
                ul
                    li Аутентификация пользователей проводится по учетной записи (логину) и паролю, либо по сертификату ключа проверки электронной подписи.
                    li Аутентификация по логину и паролю проводится путем вычисления ХЭШ-функции для введенного клиентом пароля и ее сверке с ХЭШ-функцией, храняшейся для данной учетной записи в системе ОЛ. Пароли пользователей в системе ОЛ не хранятся.
                    li Восстановление пароля пользователя по ХЭШ-функции может оказаться возможным путем подбора, если пользователь использовал простой пароль, не соответствующий по сложности требованиям к парольной защите.
                    li Для выполнения юридически значимых операций в системе ОЛ используются механизмы аутентификации по сертификату и подписания электронных документов электронной подписью (ЭП). В этом случае подписание и шифрование документов производится на стороне клиента его ключом электронной подписи. На ЭТП ключ электронной подписи клиента не передается.
                    li
                        p Программное обеспечение ежегодно проходит сертификацию по требованиям информационной безопасности. С сайтом установлено защищенное соединение, используется SSL-сертификат, который гарантирует:
                        ol
                            li Подлинность соответствия ресурса подписям в сертификате, что положительно сказывается на уровне доверия посетителей к сайту и к организации в целом;
                            li Целостность передаваемой информации. На время передачи информации от сервера к браузеру гарантируется отсутствие изменений или потерь данных;
                            li Конфиденциальность. За счет использования 256-разрядного шифрования данных информация, передаваемая между сервером и браузером посетителя, недоступна для просмотра и изменения посторонним лицам;
                            li Соединение, устанавливаемое между браузером и сайтом, происходит по протоколу HTTPS. Данные, которые передаются по протоколу HTTPS, кодируются криптографическим протоколом, тем самым обеспечивается их защита.
                    li Получено свидетельство о регистрации домена logist.cloud.
                    li Имеется Сертификат на владение доменом logist.cloud.
                    li Персональные данные пользователей системы ОЛ хранятся в системе, что гарантирует полное соответствие требованиям законодательства РФ о защите персональных данных, в частности требованиям Федерального закона №152 о защите персональных данных от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения персональных данных, а также от иных неправомерных действий.
                    li При входе в систему ОЛ участники знакомятся с регламентом работы системы и положением о конфиденциальной информации, которое содержит принцип о конфиденциальности информации и предоставляется участниками закупок.
                    li За разглашение конфиденциальный информации предусмотрен штраф в размере 1000000,00 (одного миллиона) рублей.
.modal(data-target="system" style="display:none")
    .modal__window.modal__window--lg.js-modal-window(style="background-image: url(\"../../assets/img/photos/light-modal-clouds.png\")")
        button.modal__close(data-close="system" title="Закрыть")
            .modal__close-inner
        .modal__header
            h3.modal__title.modal__title--mb Рекомендуемые системные требования

        .modal__content
            .modal__content-block
                h4.modal__sub-title Web-версия
                ul
                    li Браузер Google Chrome не ниже 74.0.3, Mozilla FireFox не ниже 67.0.1, Яндекс Браузер не ниже 19.4.0 или Safari не ниже 12.0
                    li Операционная система Windows 7 и выше, MacOS, Linux
                    li Оперативная память не менее 4Гб (для отслеживания рейсов на карте)
            .modal__content-block
                h4.modal__sub-title Мобильное приложение Android
                ul
                    li Версия операционной системы не ниже 4.3
                    li Поддержка GPS
                    li Поддержка Google Play Services
                    li Рекомендуются устройства: Google Pixel, Google Nexus, Sony, Samsung, Lenovo, HTC
                    li На устройствах Meizu, Xiaomi, Huawei требуется дополнительная настройка определения местоположения, уведомлений и автозапуска
                    li Устройства Nokia, OnePlus не рекомендуются из-за жесткой политики производителя в ограничении фоновых процессов
            .modal__content-block
                h4.modal__sub-title Мобильное приложение iOS
                ul
                    li Версия операционной системы не ниже 10