.header-w {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;

  overscroll-behavior: contain;

  position: sticky;
  z-index: 200;
  top: 0;
  padding-bottom: 1.4rem;

  &__wrapper{
    padding: 1rem;
    display: flex;
    align-items: center;

    @media #{$tablet} {
      padding: 1rem 2rem;
    }

    @media #{$desktop} {
      padding: 2rem 3rem;
    }

    @media #{$desktopLG} {
      justify-content: space-between;
    }
  }

  &__block{

    @media #{$desktopLG} {
      flex-grow: 0;
      flex-shrink: 0;

      &:first-child{
        order: 1;
      }

      &:last-child{
        order: 2;
      }
    }
  }

  &__logotype{
    margin-right: 3.5rem;
  }

  &__inner{
    display: flex;
    align-items: center;
  }

  &--clearfix{
    margin-right: auto;

    @media #{$desktopLG} {
      margin: 0;
    }
  }
}

.header-main {
  padding-bottom: 1.4rem;

  & .contacts__mail{
    display: inline-block;
  }

  &__wrapper{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media #{$tablet} {
      padding: 1.8rem 2rem;
    }

    @media #{$tabletH} {
      padding: 1.9rem 3rem;
    }

    @media #{$desktop} {
      padding: 3.9rem 3rem!important;
    }
  }

  &__block{

    @media #{$desktopLG} {
      flex-grow: 0;
      flex-shrink: 0;

      &:first-child{
        order: 1;
      }

      &:last-child{
        order: 2;
      }
    }
  }

  &__inner{
    display: flex;
    align-items: center;
  }

  &--clearfix{
    margin-right: auto;

    @media #{$desktopLG} {
      margin: 0;
    }
  }
}