include ../utils/mixins
block variables

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=0")
        meta(name="format-detection" content="telephone=no")
        meta(name="description", content=description)
        title #{title}
        block head

    body(class=pageClass)
        #app
            block header

            block content

            block footer

        block script

